<div class="container mat-elevation-z8">
    <h1 class="fullWidth">Atualizando chamado</h1>
    <img class="fullWidth" src="../../../../assets/img/undraw_solution_mindset_re_57bf.svg" alt="Criando chamado">

    <form class="form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Titutlo do chamado</mat-label>
          <input 
          [(ngModel)]="chamado.titulo"
          [formControl]="titulo"
          required
          matInput 
          placeholder="Ex. Trocar bateria">
        </mat-form-field>
        
      </form>

      <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>{{retornaStatus(chamado.status)}}</mat-label>
            <mat-select [formControl]="status" required [(ngModel)]="chamado.status">
              <mat-option value="0">Aberto</mat-option>
              <mat-option value="1">Em andamento</mat-option>
              <mat-option value="2">Encerrado</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{retornaPrioridade(chamado.prioridade)}}</mat-label>
            <mat-select [formControl]="prioridade" required [(ngModel)]="chamado.prioridade">
              <mat-option value="0">Baixa</mat-option>
              <mat-option value="1">Média</mat-option>
              <mat-option value="2">Alta</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="tecnico">
        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>{{chamado.nomeTecnico}}</mat-label>
            <mat-select [formControl]="status" required [(ngModel)]="chamado.tecnico">
                <mat-option *ngFor="let tec of tecnicos" value="{{tec.id}}">{{tec.nome}}</mat-option>
              </mat-select>
          </mat-form-field>
      </div>

      <div class="cliente">
        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>{{chamado.nomeCliente}}</mat-label>
            <mat-select [formControl]="cliente" required [(ngModel)]="chamado.cliente">
              <mat-option *ngFor="let cli of clientes" value="{{cli.id}}">{{cli.nome}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <form class="form">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Descricao</mat-label>
          <textarea [formControl]="descricao" [(ngModel)]="chamado.descricao" required class="descricao" matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </form>

      <button (click)="update()" class="fullWidth" mat-raised-button color="primary">Atualizar</button>
      <br><br>
      <button routerLink="/chamados" class="fullWidth" mat-stroked-button color="warn">Cancelar</button>
    </div>